<!doctype html>
<html lang="en" ng-app>
<head>
  <title>Angular sandpit</title>
  <script src="bower_components/angular/angular.js"></script>
</head>
<body>
  <p>Nothing here {{'yet' + '!'}}</p>
</body>
</html>
